<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle Solver Statistics</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='root.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  </head>
  <body>
    <nav class="navbar">
      <div class="nav-content">
        <h1>Wordle Solver</h1>
        <a href="/" class="nav-link" title="Back to Solver">
          <i class="fas fa-arrow-left"></i>
          Back to Solver
        </a>
      </div>
    </nav>

    <main class="wrapper">
      <div class="sidebar">
        <h3>Analysis Sections</h3>
        <ul class="toc-list">
          <li><a href="#ind-letter-frequency">Letter Frequency</a></li>
          <li><a href="#pos-letter-frequency">By Position</a></li>
          <li><a href="#patterns"> Word Patterns</a></li>
        </ul>

        <h3>Where to Start?</h3>
        <ul class="toc-list">
          <li><a href="#best-starting-words"> Best Overall</a></li>
          <li><a href="#starting-performance"> Quickest Solvers</a></li>
          <li><a href="#unsolved"> Hardest Words</a></li>
        </ul>

        <!-- <h3>Analysis Sections</h3>
        <ul class="toc-list">
          <a href="#ind-letter-frequency">Letter Frequency Analysis</a>
          <a href="#pos-letter-frequency">Letter Frequency by Position</a>
          <a href="#patterns">Word Patterns</a>
        </ul>
        <h3>Where to Start?</h3>
        <ul class="toc-list">
          <a href="#best-starting-words">Best Overall Words</a>
          <a href="#starting-performance">Quickest Solving Words</a>
          <a href="#unsolved">Most Unsolvable Words</a>
        </ul> -->
      </div>

      <div class="main-content">
        <section id="ind-letter-frequency">
          <div class="title">
            <h3>
              <i class="far fa-chart-bar section-icon"></i>Coming Soon!
            </h3>
          </div>
          <p class="section-intro">

          </p>
          <div class="grid">
            <div class="description">
            </div>

            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>